<% provide :title, t(".name_page") %>

<h1 class="text-center"><%= t(".title") %></h1>

 <p><%= raw t(".description",
  title_link_tutorial:
    link_to(t(".title_link_tutorial_html"), "https://www.railstutorial.org/"),
  title_link_learn_enough:
    link_to("Learn Enough", "https://www.learnenough.com/"),
  title_link_book:
    link_to(t(".title_link_book"), "https://www.railstutorial.org/book"),
  title_link_screencast:
    link_to(t(".title_link_screencast"),
          "https://screencasts.railstutorial.org/"),
  title_link_rubyonrails: link_to("Ruby on Rails", "https://rubyonrails.org/")
  ) %>
</p>
