<% provide :title, t(".title") %>

<h1 class="text-center mb-4 mt-4"><%= t ".title" %></h1>

<p>
  <%= t ".description" %>
  <%= link_to t(".title_link"), "https://www.railstutorial.org/contact" %>
</p>
